/.metadata/
/.recommenders/
/TddEclipseJavaJeeMaven/
/Old Metadata/
/apache-maven-3.5.4-console_cmd/
/TraitementException/apache-log4j-2.11.0-src/
/TraitementException/bin/apache-log4j-2.11.0-src/
/gitOLD/